.slider {
  position: relative;
}
.slider__arrow-left,
.slider__arrow-right {
  background-clip: content-box;
  padding: 20px 0;
  box-sizing: border-box;
  transform: 400ms all ease-in-out;
  cursor: pointer;
  width: 80px;
  z-index: 9;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.slider__arrow-left {
  left: 0;
}

.slider__arrow-right {
  right: 0;
}

.arrow {
  transition: 400ms all ease-in-out;
}

.arrow:hover {
  transition: 400ms all ease-in-out;
  transform: scale(1.5);
}

.slider:hover .slider__arrow-left,
.slider:hover .slider__arrow-right {
  transition: 400ms all ease-in-out;
  visibility: visible;
}

.slider__arrow-left:hover,
.slider__arrow-right:hover {
  background-color: rgba(20, 20, 20, 0.5);
  transition: 400ms all ease-in-out;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 0 20px 20px;
  scroll-behavior: smooth;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 144px;
  margin-right: 10px;
  transition: 450ms;
  border-radius: 4px;
}

.row__poster:hover {
  transform: scale(1.08);
}

@media (min-width: 1200px) {
  .row__poster {
    max-height: 160px;
  }
}

@media (max-width: 768px) {
  .row__poster {
    max-height: 160px;
  }
}
